{% extends "base.html" %}

{% block content %}
    <h1>Edit Service</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.min_price.label }}<br>
            {{ form.min_price(size=32) }}
        </p>
        <p>
            {{ form.max_price.label }}<br>
            {{ form.max_price(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
